#timer {
   text-align:center;
   margin:0 auto;
   width:300px;
   padding:2% 0;
}
/* timer numbers */
.timer_numbers {
	letter-spacing:15px;
	font-family: Garamond, serif;
	line-height: 1em;
	color: #dcedcc;
	font-weight:bold;
	font-size: 85px;
	text-shadow:0px 0px 0 rgb(196,213,180),-1px -1px 0 rgb(189,206,173),-2px -2px 0 rgb(182,199,166),-3px -3px 0 rgb(175,192,159),-4px -4px 0 rgb(168,185,152),-5px -5px 0 rgb(161,178,145),-6px -6px 0 rgb(154,171,138), -7px -7px 0 rgb(147,164,131),-8px -8px 7px rgba(0,0,0,0.45),-8px -8px 1px rgba(0,0,0,0.5),0px 0px 7px rgba(0,0,0,.2);
}
#timer_mins,#timer_seconds,#timer_seperator {
	display:inline;
}